body {
  margin: 0%;
  padding: 0%;
  background-color: #424242;

}
.wrap-center {
    display:flex;
    margin:10vh 10vw ;
    padding-left: 5vw;
    animation-name: fadein;
    animation-duration: 2s;
}
.Pagetext{
    text-align: left;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 28px ;
    line-height: 10vh;
    letter-spacing: 2px;
    color: #e7e6e6;
}

.Pageimg{
    display: flex;
    width: 50%;
    margin: 3vw;
}
.Pageimg img {
    border-radius: 20px;
    width: 35vw;
    
}

@keyframes fadein{
    from {top: -10%;
      opacity: .1;}
    to{top:0px;
      opacity:1;}
}