.ContactMe{
    width: 100%;
    color:rgb(0, 0, 0);

    font-size: 88px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    
    text-align: center;
    padding-bottom: 2vh;
}
.wraper_mail{
    text-align: center;
    vertical-align: top;
}

.mail{
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 44px;
    margin-right: 1vw;
    
}


.line {
    position: relative;
    display: inline-block;
    background-color: black;
    justify-content: center;
    width: 90%;
    height: 1px;
    left: 5%;
    border-radius: 10px;
    animation: LineFadein ;
    animation-duration: 1.5s;
  }
  
  
  @keyframes LineFadein{
    from {
      width: 1%;
      left: 50%
    }
    to {
      width: 90%;
      left: 5%;
    }
  }




  .ContactInfoWrap{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Contacttext{
    display:flex;
    justify-content: center;
  }

  .Contacttext p{
    font-size: 48px;
  }
  .IconWrap{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .material-symbols-outlined.mail{
    transition: .6s;
    border-radius: 50%;
    padding: 20px;
    font-size: 48px;
  }
  
  .material-symbols-outlined.mail a{
    text-decoration: none;
    color: black;
  }

  .material-symbols-outlined.mail:hover{
    background-color: rgba(99, 65, 255, 0.43);
    color: rgba(41, 6, 145, 0.742);
  }

  .InstagramIcon {
    width: 50px;
    padding: 20px;
    font-size: 48px;
    border-radius: 50%;
    text-align: center;
    transition: .6s;
    margin-right: 1vw;

    text-decoration: none;
    color: black;

  }
  
  
  .InstagramIcon:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(250, 175, 175);
  }
  
  
  .FacebookIcon{
    width: 50px;
    font-size: 48px;
    text-align: center;
    border-radius: 50%;
    padding: 20px;
    transition: .6s;
    text-decoration: none;
    color: black;
  }
  .FacebookIcon:hover{
    background-color: rgb(35, 35, 165);
    color: white;
  }