.intro{
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-family: Verdana, sans-serif;
    width: 100%;
    text-align: center;
    margin: 0px 0;
}


.SearchMenu{
    width: 15vw;
    height: 100vh;
    display: inline-block;
    position:absolute;
    left: -15vw;
    transition: .4s;
}
/*menu input style design*/


/*menu option style design*/
.SearchMenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 10vh;
}


.SearchMenu li a{
    font-size: 24px;    
    padding: 24px 12px;
    text-decoration: none ;
    color: #000000;
    display: block;
    transition: .2s;
}

.SearchMenu a:hover{
    padding-left: 30px;
}
