
body {
  margin: 0%;
  padding: 0%;
  background-color: #424242;
  box-sizing: content-box;
}


.wrap-center {
    display:flex;
    width: 100%;
}
.pagetext{
    width: 100%;
    padding-top: 10%;
    padding-left: 20%;
    display: inline-block;
    text-align: left;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 36px ;
    letter-spacing: 3px;
    color: #e7e6e6;
}
.pagetext p {
  position: relative;
  animation: fadein 1s ;
    animation-timing-function: ease;
}
.pageimg{
    display: flex;
    width: 50%;
    padding:10%;
}
.pageimg img {
    position: relative;
    right: 50%;
    width:150%;
    height: 100%;
    border-radius: 20px;
    animation: fadein 1s ;
}

@keyframes fadein{
    from {top: -200px;
      opacity: .1;}
    to{top:0px;
      opacity:1;}
}