.wrap-top {
    display: flex;
    background-color: rgb(30, 30, 30);
}

.wrap-top nav {
    
    width: 100%;
    text-align: right;
    margin-right: 12vh;
}
.wrap-top nav a {
    display: inline-block;
    color:#a6a6a6;
    font-size: 18px;
    font-family:Verdana , sans-serif;
    text-decoration: none;
    padding: 4vh 2vw;
}

.wrap-top nav a:hover{
    background-color: rgba(84, 84, 84, 0.412);
}

.logo {
    display: flex;
    width: 100%
}

.logo a{
    color: #a6a6a6;
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 2vh 0vw 2vh 5vw;
}