.wrap-top {
    display: flex;
}

.wrap-top nav {
    
    z-index: 1;
    width: 100%;
    text-align: right;
    margin-right: 12vh;
}
.wrap-top nav a {
    display: inline-block;
    color:#000000;
    font-size: 18px;
    font-family:Verdana , sans-serif;
    text-decoration: none;
    padding: 4vh 2vw;
    transition: .3s;
    box-sizing: border-box;
}

.wrap-top nav a:hover{
    font-size: 22px;
    padding: 4vh 1vw;
}

.logo {
    z-index: 1;
    display: flex;
    width: 100%
}

.logo a{
    color: #000000;
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 2vh 0vw 2vh 10vw;
}

@media screen and (max-width:1000px){
    .wrap-top{
        flex-direction: column;
        justify-content: center;
    }
    .wrap-top nav {
        text-align: center;
    }
    .wrap-top nav a {
        font-size: 16px;
    }
    .logo {
        display: flex;
        justify-content: center;
        padding: 1vh 0;
    }
    .logo a {
        font-size: 52px;
        padding: 0%;
    }
}