* {
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    padding: 6px 10px;
    background-color: rgba(67, 67, 67, 0.181);    
}
.header nav{
    text-align: right;
    width: 100%;
    font-size: 0;
}
.header nav a{
    font-size: 16px;
    text-decoration: none;
    color: rgb(255, 158, 158);
    display: inline-block;
    line-height: 52px;
    padding: 0 10px;
}
.header nav a:hover{
    background-color: rgb(214, 214, 214);
}
.banner img{
    width: 100%;
}
